---
import BaseLayout from "../layouts/BaseLayout.astro";
import IconsLinks from "../components/IconsLinks.astro"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<BaseLayout>
			<div class="container">
				<div class="content">
					<p>Hello, World!</p>
				</div>
			<IconsLinks />
		</BaseLayout>
	</body>
</html>
<style>
</style>
