---
import BaseLayout from "../layouts/BaseLayout.astro";
import Card from "../components/Card.jsx";
---

<BaseLayout>
	<div class="container">
		<div class="grid">
			<Card client:only title="Lan1" img="Lan.png" />
			<Card client:only title="Lan2" img="Lan.png" />
			<Card client:only title="Lan3" img="Lan.png" />
			<Card client:only title="Lan4" img="Lan.png" />
			<Card client:only title="Lan4" img="Lan.png" />
			<Card client:only title="Lan4" img="Lan.png" />
		</div>
	</div>
</BaseLayout>

<style>
	.grid {
		display: grid;
		/* Вариант 2 для очень умных */
		/* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));  */
		place-items: center;
		gap: 20px 15px; /* Вертикаль вначале потом по горизонт */
		grid-template-columns: 1fr 1fr 1fr;
		@media (max-width: 1200px) {
			grid-template-columns: 1fr 1fr;
		}
		@media (max-width: 800px) {
			grid-template-columns: 1fr;
		}
	}
</style>
