---
import BaseLayout from "../layouts/BaseLayout.astro";
---
<BaseLayout>
	<!-- <h1>Hello, World!12312</h1>
	<h1>Hello, World!12312</h1>
	<h1>Hello, World!12312</h1>
	<h1>Hello, World!12312</h1>
	<h1>Hello, World!12312</h1>
	<h1>Hello, World!12312</h1>
	<h1>Hello, World!12312</h1>
	<h1>Hello, World!12312</h1>
	<h1>Hello, World!12312</h1>
	<h1>Hello, World!12312</h1>
	<h1>Hello, World!12312</h1>
	<h1>Hello, World!12312</h1>
	<h1>Hello, World!12312</h1>
	<h1>Hello, World!12312</h1>
	<h1>Hello, World!12312</h1>
	<h1>Hello, World!12312</h1>
	<h1>Hello, World!12312</h1>
	<h1>Hello, World!12312</h1> -->
</BaseLayout>


<style>
.content{
	display flex:
}


</style>