---

---

<footer>
    <div class="-wrapper">

    </div>
</footer>
<style>
    footer {
        background-color: var(--footer);
        height: 10.125rem;
        width: 100%;
        .-wrapper {
            display: flex;
            justify-content: space-around;

        }
    }
    @media screen and (max-width: 620px) {

        .-email{
            display: none;
        }
    }
    /* @media screen and (max-width: 530px){
        footer {
            position: relative;
            bottom: 50px;
        }
    } */
</style>
