---

---

<footer>
    <div class="-wrapper">
        <div class="-rights">© 2024 MIT. All rights reserved.</div>
        <div class= "-email">Contact Us: kiseleowmish3101@gmail.com</div>
    </div>
</footer>
<style>
    footer {
        background-color: var(--footer);
        height: 50px;
        width: 100%;
        .-wrapper {
            height: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding: 0 40px;
        }
    }
    @media screen and (max-width: 620px) {
        .-email{
            display: none;
        }
    }

</style>
