---
import { Image } from "astro:assets";
import Logo from "../assets/logo.svg";
import Burger from "./Burger.astro";
---

<header>
	<div class="-wrapper">
		<a href="/">
			<Image src={Logo} class="-img" alt="Logo" />
		</a>
		<Burger />
		<div class="-links">
			<a class="-item" href="/">Home</a>
			<a class="-item" href="/knowledgebase/base">Courses</a>
			<a class="-item" href="/about-us">About Us</a>
		</div>
	</div>
</header>

<style>
	header {
		background: var(--header);
		height: 3.75rem;
		width: 100%;
		.-wrapper {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 0 40px;
			height: 100%;
			.-img {
		height: 50px;
		width: auto;
	}
	}
	}

	.-links {
		display: flex;
		gap: 35px;
	}
	.-item {
		color: #ffffff;
		font-size: 24px;
	}
	a {
		color: #ffffff;
		text-decoration: none;
	}
	@media screen and (max-width: 540px) {
		.-links {
			display: none;
		}
	}

</style>
