---

---
<div class="-wrapper">
<div class="social-icons"> 
    <a href="https://t.me/yukkitorie">
        <img src="telegram-logo.svg" alt="telegram logo">
    </a>
</div>
<div class="social-icons"> 
    <a href="https://www.linkedin.com/in/mihails-kiselovs-714226287/">
        <img src="linkedin-logo.svg" alt="linkedin logo">
    </a>
</div>
<div class="social-icons"> 
        <a href="https://github.com/Yukkitorie">
            <img src="githubIcon.svg" alt="github logo">
        </a>
</div>
</div>
</div>


<style>
.-wrapper {
    display: flex;
    flex-direction: row;
    .social-icons a {
        margin: 0 10px;
    }
    .social-icons img{
        width: 45px;
        aspect-ratio: 1;
        transition: transform 0.3s;
    }
    }
.social-icons a:hover img{
    transform: scale(1.2);
}
</style>